<ion-header class="my-header">
  <ion-toolbar color="primary">
    <ion-title>ToDo App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-task-form
    [task]="taskToEdit()"
    [editMode]="editMode()"
    (taskCreated)="onTaskCreated($event)"
    (editCancel)="editMode.set(false)"
  ></app-task-form>

  @if (showCategories()) {
    <ion-item class="ion-item-category">
      <ion-label>Categoría</ion-label>
      <ion-select
        [value]="selectedCategory()"
        (ionChange)="onCategorySelected($event.detail.value)"
      >
        <ion-select-option value="">Todas</ion-select-option>
        @for (category of getUniqueCategories(); track $index) {
          <ion-select-option [value]="category">{{ category }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  }

  <app-task-list
    [tasks]="tasks()"
    [filterByCategory]="selectedCategory()"
    (editTask)="onEdit($event)"
    (deleteTask)="onDelete($event)"
  ></app-task-list>

  @if (!tasks().length) {
    <ion-label class="ion-text-none">Aún no hay tareas, agrega una</ion-label>
  }

</ion-content>
