
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.ion-item-category {
  margin-bottom: 20px;
}

.ion-button-submit {
  margin-bottom: 8px;
}

.ion-button-cancel {
   margin-bottom: 20px;
}
